/* body{
    font-family: 'Arial',sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
header{
    background-color: #ff5a5f;
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    color:#333;
    font-size: 2rem;
}

main{
    padding: 2rem;
} */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
}

/* Header */
header {
    background-color: #ff5a5f;
    padding: 20px 40px;
}

header h1 {
    color: black;
    font-size: 28px;
    font-weight: bold;
}

/* Main layout */
main {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card box */
main a {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 500px;
    height: 150px;

    background-color: #e8e8e8;
    border-radius: 10px;

    text-decoration: none;
    color: #4a148c;
    font-size: 16px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* Hover effect */
main a:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}